.fade-in {
	opacity: 0;
	transform: translateY(-40px);
	animation: fadeIn 0.9s ease-out forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*-----------------------------------------------*/

.fade-in-aftertime {
	opacity: 0;
	animation: fadeInAfterTime 0.9s ease-out forwards;
	animation-delay: 1s;
}

@keyframes fadeInAfterTime {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*-----------------------------------------------*/

.fade-in-text {
	opacity: 0;
	transform: translateY(-80px);
	animation: fadeInText 1s ease-out forwards;
}

@keyframes fadeInText {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*-----------------------------------------------*/

.slide-in-left {
	opacity: 0;
	transform: translateX(-40px);
	animation: slideInLeft 1s ease-out forwards;
}

@keyframes slideInLeft {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/*-----------------------------------------------*/

.slide-in-right {
	opacity: 0;
	transform: translateX(40px);
	animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInRight {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/*-----------------------------------------------*/

@keyframes gradientMove {
  	50% { 
		background-position: 100% 50%; 
	}
}

/*-----------------------------------------------*/
.fade-enter-active,
.fade-leave-active {
  	transition: opacity 0.65s ease, transform 0.65s ease;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
	transform: translateY(-4px);
}