html, body {
	margin: 0;
	min-height: 100%;
	background: var(--color-bg, var(--color-bg-fallback)); /* url("../assets/images/pattern.png") repeat, */
	/* background-repeat: repeat, no-repeat;
	background-size: 500px 575px, cover; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
	min-height: 100%;
    margin: 0;
	font-family: var(--font-main);
}

h1 {
	font-family: var(--font-main);
	font-size: var(--h1);
}